<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>수업</title>
        <style>
            div{
                float:left
            }
        </style>

    </head>
    <body>
        
        <div><video id="video" src="http://localhost:8081/" autoplay="autoplay" width="704" height="480"></video></div>
<!-- 주석내용 <p><video id="video" src="http://59.2.98.218:8082/" autoplay="autoplay" width="704" height="480"></video></p>-->
        <div><video id="video" src="http://localhost:8081/" autoplay="autoplay" width="704" height="480"></video></div>
        <div><video id="video" src="http://localhost:8081/" autoplay="autoplay" width="704" height="480"></video></div>
        <div><video id="video" src="http://localhost:8081/" autoplay="autoplay" width="704" height="480"></video></div>
        <form action="/end_pro" method="Get"><button type="제출">수업 종료</button></form>
    </body>


</html>